<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="ion-text-center encabezado">
    <h1 class="titulo-principal">SkeletonAPP</h1>
    <p class="subtitulo">Aquí comienza todo</p>
    <h2 class="bienvenida">Bienvenido!</h2>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="ingresar()">

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="usuario" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched">
      Usuario entre 3 y 8 caracteres
    </ion-note>

    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input formControlName="clave" type="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="loginForm.get('clave')?.invalid && loginForm.get('clave')?.touched">
      Clave de 4 dígitos numéricos
    </ion-note>

    <div class="ion-text-center encabezado">
      <ion-button expand="full" type="submit" color="secondary">Ingresar</ion-button>
      <a target="_blank" rel="noopener noreferrer" href="">Crea tu cuenta gratis</a>
    </div>

    

  </form>

</ion-content>