.encabezado {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .titulo-principal {
    font-size: 35px;
    font-weight: bold;
  }
  
  .subtitulo {
    font-size: 14px;
    color: gray;
    margin-top: 4px;
  }
  
  .bienvenida {
    font-size: 25px;
    margin-top: 20px;
    font-weight: normal;
  }