<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="ion-text-center encabezado">
    <h1 class="titulo-principal">Bienvenido! {{ usuario }}</h1>
    <h2 class="informacion">Menu</h2>
  </div>

  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="mis-datos">Mis Datos</ion-segment-button>
    <ion-segment-button value="experiencia">Experiencia Laboral</ion-segment-button>
    <ion-segment-button value="certificaciones">Certificaciones</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentValue">
    <app-mis-datos *ngSwitchCase="'mis-datos'"></app-mis-datos>
    <app-experiencia-laboral *ngSwitchCase="'experiencia'"></app-experiencia-laboral>
    <app-certificaciones *ngSwitchCase="'certificaciones'"></app-certificaciones>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> App desarrollada por </ion-title>
  </ion-toolbar>
</ion-footer>